<div class='flt-i-bb'><div class='flt-l-a'><div class='flt-l-b'><div class='company'><img alt=''  src='https://daisycon.io/images/airline/?width=100&height=50&&iata={$aCode}'></div>
 </div><div class='flt-l-c'><div class='flt-l-cb'><div class='flt-l-c-padding'><div class='flyght-info-head'>$firstDepartureAirportName - $finalArrivalAirportName</div>
<div class='flight-line'><div class='flight-line-a'> <b>departure</b><span>$deptTime<</span></div><div class='flight-line-d'></div><div class='flight-line-a'><b>arrival</b>
 <span>${arrTime}</span> </div><div class='flight-line-d'></div><div class='flight-line-a'><b>time</b> <span>$totalDuration</span></div>
<div class='flight-line-b'></div><div class='clear'></div>
                                <!-- // details // -->
                                <div class='flight-details'>
                                  <div class='flight-details-l'>
                                    <div class='flight-details-a'>Tue 06/01</div>
                                    <div class='flight-details-b'>12:40 John F Kennedy (JFK)</div>
                                    <div class='flight-details-c'>USA</div> 
                                  </div>
                                  <div class='flight-details-r'>
                                    <div class='flight-details-a'>Tue 06/01</div>
                                    <div class='flight-details-b'>16:30 Vienna Intl (VIE)</div>
                                    <div class='flight-details-c'>Austria</div>                                 
                                  </div>
                                  <div class='clear'></div>
                                </div>
                                <!-- \\ details \\ -->                              
                        
                            </div>
                            <!-- \\ -->
                          </div>
                        </div>
                        <br class="clear">
                      </div>
                    </div>
                    <div class="clear"></div>
                    </div>
                    <br class="clear">
                
                    